Package: ch.marcoroth.shortlook.plugin.covers.mixcloud
Name: Mixcloud covers for ShortLook
Depends: mobilesubstrate, co.dynastic.ios.tweak.shortlook
Version: 1.0.2
Architecture: iphoneos-arm
Description: Show Mixcloud covers in ShortLook when you receive a Mixcloud notification!
Maintainer: Marco Roth
Author: Marco Roth
Section: Tweaks (ShortLook)
